.container__signup {
    padding: 0px 15px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(43,43,43);
    background: linear-gradient(90deg, rgba(43,43,43,1) 0%, rgba(252,70,107,1) 100%);
}
.wrap__signup {
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.wrap__signup h2 {
    display: block;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 26px;
}

#input-email {
    width: 25vw;
    background-color: white;
}
#input-password {
    width: 25vw;
    background-color: white;
}
.text__field {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.button__signup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#button-signup {
    margin-top: 15px;
    width: 25vw;
    font-weight: 600;
    font-size: 15px;
    background-image: linear-gradient(to right, #000000 0%, #e74c3c  51%, #000000  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
}
#button-signup:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.social__login {
    margin-top: 25px;
    text-align: center;
}